<h2>Lucidi delle lezioni</h2>
  <ul>
  <li>Concetti di base
    <ul>
	<li>Introduzione al corso (<a href="disp_1920/A.0-IntroduzioneCorso.pdf">pdf</a>)</li>
	<li>Informazioni sulla sicurezza (<a href="disp_1920/Lezione_sicurezza_x_studenti-1.pdf">pdf</a>)</li>
	<li>Richiami su Web dinamico (<a href="disp_1920/A.1-WWW.pdf">pdf</a>)</li>
	<li>Sviluppo MVC (<a href="disp_1920/A.2-MVC.pdf">pdf</a>)</li>
    </ul></li>
  <li>Sviluppo server-side con Django
    <ul>
	<li>Presentazione Django (<a href="disp_1920/B.1-DjangoIntro.pdf">pdf</a>)</li>
	<li>Django: Introduzione (<a href="disp_1920/B.2-DjangoStart.pdf">pdf</a>)</li>
	<li>Django: Interfacia di amministrazione (<a href="disp_1920/B.3-DjangoAdmin.pdf">pdf</a>)</li>
	<li>Django: Views (<a href="disp_1920/B.4-DjangoView.pdf">pdf</a>)</li>
	<li>Django: Forms (<a href="disp_1920/B.5-DjangoForm.pdf">pdf</a>)</li>
	<li>Django: Authentication Framework (<a href="disp_1920/B.6-DjangoAuth.pdf">pdf</a>)</li>
	<li>Django: Approfondimenti (<a href="disp_1920/B.7-DjangoApprofondimenti.pdf">pdf</a>)</li>
	<li>Django: Testing (<a href="disp_1920/B.8-DjangoTesting.pdf">pdf</a>)</li>
	<li>Django: Case study (<a href="disp_1920/B.9-CaseStudyDjango.pdf">pdf</a>)</li>
    </ul></li>
  <li>Note sulla scalabilit&agrave; (<a href="disp_1920/C.1-DeploymentDjango+ApacheCluster.pdf">pdf</a>)</li>
  <li>Tecnologie Client side
    <ul><li>Tecnologie Client side: Introduzione (<a href="disp_1920/D.1-ClientSide.pdf">pdf</a>)</li>
	<li>Tecnologie Client side: Javascript (<a href="disp_1920/D.2-Javascript.pdf">pdf</a>)</li>
	<li>Tecnologie Client side: AJAX (<a href="disp_1920/D.3-Ajax.pdf">pdf</a>)</li>
    </ul></li>
	
	<li>Tecnologie Client side: CSS (<a href="disp_1819/D-ClientSide.2-CSS.pdf">pdf</a>)</li>
	<li>Tecnologie Client side: jQuery (<a href="disp_1819/D-ClientSide.3-JQuery.pdf">pdf</a>)</li>
	<li>Case study: Monitoraggio Web (<a href="disp_1819/D-ClientSide.5-Monitoraggio.pdf">pdf</a>)</li>
	<li>Case study: Applicazione domotica (<a href="disp_1819/D-ClientSide.6-Domotica.pdf">pdf</a>)</li>
	<li>Seminario: React - A cura di Evensi(<a href="disp_1819/unimo-react-wonderland.pdf">pdf</a>)</li>
	<li>Tecnologie per applicazioni mobili: Introduzione ad Android - parte 1 (<a href="disp_1819/E-Android.1-Intro.pdf">pdf</a>)</li>
	<li>Seminario: Angular - A cura di Dreamonkey (<a href="disp_1819/DREAMONKEY_slide_angular_universita_1920x1080_RGB_REV00.pdf">pdf</a>)</li>
	<li>Tecnologie per applicazioni mobili: Introduzione ad Android - parte 2 (<a href="disp_1819/E-Android.2-Architecture.pdf">pdf</a>)</li>
  </ul>
</section><section>
  <h2>Esempi di codice</h2>
  <ul>
    <li>Esempio applicazione Django Server Side (<a href="disp_1920/DjangoConfigServerSide.zip">zip</a>)</li>
	
	<li>Esercitazioni AJAX e jQuery (<a href="disp_1819/AJAXExamples.zip">zip</a></li>   
	<li>Applicazione domotica con Polymer (<a href="disp_1819/Tapparelle2018.zip">zip</a>)</li>
	<li>Case study: Appplicazione di monitoring con Node.js (<a href="disp_1819/esempicodice.tar.gz">tar.gz</a>)</li>	
	<li>Proposta Tesine (<a href="disp_1819/tesine.pdf">pdf</a>)</li>
	 <li>Applicazione temperature - prima versione (<a href="disp_1617/Temperature1.zip">zip</a>)</li>
	<li>Esempi EJB 1.x (<a href="disp_1617/HelloEJB.zip">zip</a>)</li>
	<li>Esempi EJB 3.x (<a href="disp_1617/EJBApp.ear">ear</a>)</li>
  </ul>    
  <h2>Altre risorse utili</h2>
  <ul>	
	<li>Apache httpd (<a href="disp_1920/httpd-2.4.37.tar.bz2">tar.bz2</a>)</li>
	<li>Apache tomcat (<a href="disp_1920/apache-tomcat-8.5.34.tar.gz">tar.gz</a>)</li>
	<li>Apache mod_wsgi (<a href="disp_1920/mod_wsgi-4.6.5.tar.gz">tar.gz</a>)</li>
	<li>JSTL (<a href="disp_1819/javax.servlet.jsp.jstl-1.2.1.jar">jar</a>)</li>
	<li>JSTL-API (<a href="disp_1819/javax.servlet.jsp.jstl-api-1.2.1.jar">jar</a>)</li>
	<li>Mojarra JSF(<a href="disp_1819/jsf-impl-2.2.18.jar">jar</a>)</li>
	<li>Mojarra JSF API(<a href="disp_1819/jsf-api-2.2.18.jar">jar</a>)</li>
  </ul>  